<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="Althof Z, and Bootstrap contributors" />
  <title>Our Rooms</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel/" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <link href="{{ url_for('static', filename='css/roomlist_style.css') }}" rel="stylesheet" />

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    ul.nav a:hover {
      color: rgb(255, 255, 255) !important;
      background-color: #0d6efd;
    }
  </style>
</head>

<body>
  <!-- NAVBAR -->
  <header class="justify-content-between">
    <nav class="navbar py-2" style="background-color: #edf6fd">
      <div>
        <a class="navbar-brand" href="{{ url_for('home') }}">
          <img src="{{ url_for('static', filename='img/Hotel-icon.png') }}" width="30" height="30"
            class="d-inline-block align-top" alt="" />
          Hotel
        </a>
      </div>
      <div class="">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="room_list.html">Room List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Booking</a>
          </li>
        </ul>
      </div>
      <div><a class="btn btn-outline-primary" href="{{ url_for('login') }}" role="button">Log in</a></div>
    </nav>
  </header>
  <!-- NAVBAR -->

  <main>
    <div class="container marketing">
      <h1>Our Rooms</h1>

      <!-- ROOM DETAILS -->
      <!-- STANDARD ROOM  -->
      <section id="standard">
        <hr class="featurette-divider" />

        <div class="row featurette">
          <!-- RIGHT SIDE -->
          <div class="col-md-5">
            <h2 class="">Standard Room</h2>
            <p class="lead">Spend in a cozy and perfect place at our 30sqm Deluxe Rooms that offer you an upscale luxury
              with a view to match, and premium mattress to guarantee a good night's sleep.</p>

            <hr />

            <ul>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_length.png') }}" alt="" class="icon" />
                <span class="">30 Sqm / 323 Sq Ft</span>
              </li>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_occupancy.png') }}" alt="" class="icon" />
                <span class="">Max Occupancy: 3</span>
              </li>
            </ul>

            <hr />

            <h4>Facilities</h4>
            <ul>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_wifi.png') }}" alt="" class="icon" />
                <span class="">Wi-Fi</span>
              </li>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_safe.png') }}" alt="" class="icon" />
                <span class="">In-Room Safe</span>
              </li>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_accessible.png') }}" alt="" class="icon" />
                <span class="">Accessible</span>
              </li>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_deskchair.png') }}" alt="" class="icon" />
                <span class="">Desk</span>
              </li>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_water.png') }}" alt="" class="icon" />
                <span class="">Bottled Water</span>
              </li>
            </ul>

            <hr />

            <div>
              <h5>From</h5>
              <p class="lead strong" style="font-size: 2rem">IDR 725.000,00</p>
            </div>
            <div>
              <br />
              <a class="btn btn-outline-primary btn-lg" href="{{ url_for('booking') }}" role="button">Book Room</a>
            </div>
          </div>
          <!-- RIGHT SIDE -->

          <!-- LEFT SIDE -->
          <div class="col-md-7">
            <div id="standardCarousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#standardCarousel" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#standardCarousel" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#standardCarousel" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>
              <!-- GAMBAR 1 -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{{ url_for('static', filename='img/detail_standard1.jpg') }}" alt="pic1" />
                  <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777" />
                  </svg>
                </div>
                <!-- GAMBAR 1 -->

                <!-- GAMBAR 2 -->
                <div class="carousel-item">
                  <img src="{{ url_for('static', filename='img/detail_standard2.jpg') }}" alt="pic1" />
                  <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777" />
                  </svg>
                </div>
                <!-- GAMBAR 2 -->

                <!-- GAMBAR 3 -->
                <div class="carousel-item">
                  <img src="{{ url_for('static', filename='img/detail_standard3.jpg') }}" alt="pic1" />
                  <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777" />
                  </svg>
                </div>
                <!-- GAMBAR 3 -->
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#standardCarousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#standardCarousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <!-- LEFT SIDE -->
        </div>
      </section>

      <!-- STANDARD ROOM  -->

      <!-- DELUXE ROOM  -->
      <section id="deluxe">
        <hr class="featurette-divider" />

        <div class="row featurette">
          <!-- RIGHT SIDE -->
          <div class="col-md-5 order-md-2">
            <h2 class="">Deluxe Room</h2>
            <p class="lead">With its 2 bed setup featuring a double and a single bed, our 32 sqm Deluxe Family Room
              makes staying together while travelling as a family or group a breeze.</p>

            <hr />

            <ul>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_length.png') }}" alt="" class="icon" />
                <span class="">32 Sqm / 344q Ft</span>
              </li>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_occupancy.png') }}" alt="" class="icon" />
                <span class="">Max Occupancy: 4</span>
              </li>
            </ul>

            <hr />

            <h4>Facilities</h4>
            <ul>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_wifi.png') }}" alt="" class="icon" />
                <span class="">Wi-Fi</span>
              </li>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_safe.png') }}" alt="" class="icon" />
                <span class="">In-Room Safe</span>
              </li>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_accessible.png') }}" alt="" class="icon" />
                <span class="">Accessible</span>
              </li>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_deskchair.png') }}" alt="" class="icon" />
                <span class="">Desk</span>
              </li>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_water.png') }}" alt="" class="icon" />
                <span class="">Bottled Water</span>
              </li>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_coffeemaker.png') }}" alt="" class="icon" />
                <span class="">Coffee & Tea Maker</span>
              </li>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_freezer.png') }}" alt="" class="icon" />
                <span class="">Compact Refrigerator</span>
              </li>
            </ul>

            <hr />

            <div>
              <h5>From</h5>
              <p class="lead strong" style="font-size: 2rem">IDR 1.045.000,00</p>
            </div>
            <div>
              <br />
              <a class="btn btn-outline-primary btn-lg" href="{{ url_for('booking') }}" role="button">Book Room</a>
            </div>
          </div>
          <!-- RIGHT SIDE -->

          <!-- LEFT SIDE -->
          <div class="col-md-7 order-md-1">
            <div id="deluxeCarousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#deluxeCarousel" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#deluxeCarousel" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#deluxeCarousel" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>
              <!-- GAMBAR 1 -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{{ url_for('static', filename='img/detail_deluxe1.jpg') }}" alt="pic1" />
                  <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777" />
                  </svg>
                </div>
                <!-- GAMBAR 1 -->

                <!-- GAMBAR 2 -->
                <div class="carousel-item">
                  <img src="{{ url_for('static', filename='img/detail_deluxe2.jpg') }}" alt="pic1" />
                  <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777" />
                  </svg>
                </div>
                <!-- GAMBAR 2 -->

                <!-- GAMBAR 3 -->
                <div class="carousel-item">
                  <img src="{{ url_for('static', filename='img/detail_deluxe3.jpg') }}" alt="pic1" />
                  <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777" />
                  </svg>
                </div>
                <!-- GAMBAR 3 -->
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#deluxeCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#deluxeCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <!-- LEFT SIDE -->
        </div>
      </section>
      <!-- DELUXE ROOM  -->

      <!-- SUITE ROOM  -->
      <section id="suite">
        <hr class="featurette-divider" />

        <div class="row featurette">
          <!-- RIGHT SIDE -->
          <div class="col-md-5">
            <h2 class="">Suite Room</h2>
            <p class="lead">Featuring 94 beautifully appointed square meters of space, our Executive Suites provide
              plenty of room to unwind. They also grant you tranquil evening cocktails when you stay at these luxury
              rooms.</p>

            <hr />

            <ul>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_length.png') }}" alt="" class="icon" />
                <span class="">94 Sqm / 1011 Sq Ft</span>
              </li>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_occupancy.png') }}" alt="" class="icon" />
                <span class="">Max Occupancy: 4</span>
              </li>
            </ul>

            <hr />

            <h4>Facilities</h4>
            <ul style="column-count: 2">
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_wifi.png') }}" alt="" class="icon" />
                <span class="">Wi-Fi</span>
              </li>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_safe.png') }}" alt="" class="icon" />
                <span class="">In-Room Safe</span>
              </li>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_accessible.png') }}" alt="" class="icon" />
                <span class="">Accessible</span>
              </li>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_deskchair.png') }}" alt="" class="icon" />
                <span class="">Spacious Workspace</span>
              </li>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_livingR.png') }}" alt="" class="icon" />
                <span class="">Separate Living Area</span>
              </li>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_gardenV.png') }}" alt="" class="icon" />
                <span class="">Garden View</span>
              </li>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_cityV.png') }}" alt="" class="icon" />
                <span class="">City View</span>
              </li>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_soundproof.png') }}" alt="" class="icon" />
                <span class="">Soundproofing</span>
              </li>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_freezer.png') }}" alt="" class="icon" />
                <span class="">Compact Refrigerator</span>
              </li>
              <li></li>
              <li>
                <img src="{{ url_for('static', filename='img/icon/ico_minibar.png') }}" alt="" class="icon" />
                <span class="">Minibar</span>
              </li>
            </ul>

            <hr />

            <div>
              <h5>From</h5>
              <p class="lead strong" style="font-size: 2rem">IDR 3.125.000,00</p>
            </div>
            <div>
              <br />
              <a class="btn btn-outline-primary btn-lg" href="{{ url_for('booking') }}" role="button">Book Room</a>
            </div>
          </div>
          <!-- RIGHT SIDE -->

          <!-- LEFT SIDE -->
          <div class="col-md-7">
            <div id="suiteCarousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#suiteCarousel" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#suiteCarousel" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#suiteCarousel" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
              </div>
              <!-- GAMBAR 1 -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{{ url_for('static', filename='img/detail_suite1.jpg') }}" alt="pic1" />
                  <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777" />
                  </svg>
                </div>
                <!-- GAMBAR 1 -->

                <!-- GAMBAR 2 -->
                <div class="carousel-item">
                  <img src="{{ url_for('static', filename='img/detail_suite2.jpg') }}" alt="pic1" />
                  <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777" />
                  </svg>
                </div>
                <!-- GAMBAR 2 -->

                <!-- GAMBAR 3 -->
                <div class="carousel-item">
                  <img src="{{ url_for('static', filename='img/detail_suite3.jpg') }}" alt="pic1" />
                  <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <rect width="100%" height="100%" fill="#777" />
                  </svg>
                </div>
                <!-- GAMBAR 3 -->
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#suiteCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#suiteCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <!-- LEFT SIDE -->
        </div>
      </section>
      <!-- SUITE ROOM  -->

      <!-- ROOM DETAILS -->
    </div>
    <!-- /.container -->
  </main>
  <!-- FOOTER -->
  <footer>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">© 2022 Copyright</div>
  </footer>
  <!-- FOOTER -->

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous">
  </script>
</body>

</html>